.notification {
  height: auto !important;

  .notification-message {
    font-family: "Roboto", "-apple-system", "Helvetica", "Arial", sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: 500px) {
  .notifications-bl {
    width: 100% !important;
  }
}