.alert {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.46429em;
  cursor: default;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.alert-subject-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 5px;
}

.alert-subject {
  margin: 0;
}

.alert-body {
  display: inline;
}

.alert-urgency-chip {
  height: 20px !important;
  font-size: 12px !important;
  line-height: 1;
  color: white !important;
}

.alert-url-container {
  width: 100%;
}

.alert-url-button-root {
  padding: 0 !important;
  min-height: 24px !important;
}

.alert-link {
  color: #0645AD;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.alert-info {
  background-color: #42A5F5 !important;
}

.alert-minor {
  background-color: #66BB6A !important;
}

.alert-major {
  background-color: #FFA726 !important;
}

.alert-emergency {
  background-color: #EF5350 !important;
}