@import '../variables';

.app-bar {
  background-color: white !important;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2) !important;
}

.app-bar-logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.app-bar-text-color {
  color: #354052;
}

.app-bar-logo-name, .app-bar-right-section {
  display: flex;
  align-items: center;
}

@media screen and (min-width: map-get($breakpoints, lg)) {
  .app-bar-logo-name {
    margin-right: auto !important;
  }

  .app-bar-menu-button {
    display: none !important;
  }
}

@media screen and (max-width: map-get($breakpoints, lg) - 1px) {
  .app-bar-link-button {
    display: block !important;
    padding: 0 !important;
    text-align: left;
  }

  .app-bar-hide {
    max-height: 0 !important;
    overflow: hidden
  }

  .app-bar-tool-bar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .app-bar-link-container {
    display: block;
    flex-basis: 100%;
    transition: ease-in-out 2s;
  }

  .app-bar-search-expanded {
    .app-bar-logo, .app-bar-title, .app-bar-alert-container, .app-bar-menu-button, .app-bar-link-container {
      display: none !important;
    }
  }
}