@import '../variables';

.fd-small-grid {
  padding: 4px !important;
}

.fd-dialog-paper {
  border-radius: 5px !important;
}

.fd-container {
  margin: 0 !important;
  width: 100% !important;
  overflow-x: hidden;
}

.fd-close-btn {
  position: absolute !important;
  width: 24px !important;
  height: 24px !important;
  top: 5px;
  right: 5px;
}

.fd-header-container {
  @extend .fd-small-grid;

  width: 100%;
}

.fd-avatar {
  border-radius: 0 !important;

  & > img {
    object-fit: contain !important;
    border-radius: 0 !important;
  }
}

.fd-header {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: center;
}

.fd-header-text-container {
  flex: 1 !important;
  padding: 0 !important;
}

.fd-header-text {
  max-width: 80% !important;
  padding: 8px 0;
}

.fd-location-wrapper {
  @extend .fd-small-grid;

  display: flex !important;
  align-items: center;
}

.fd-facility-labels {
  @extend .fd-small-grid;

  width: 100%;
}

.fd-week-hours {
  @extend .fd-small-grid;

  width: 100%;
}

.fd-toggle-map-btn-container {
  padding: 0 !important;
  width: 100%;
}

.fd-toggle-map-btn {
  width: 100%;
}

//Above sm
@media screen and (min-width: map-get($breakpoints, sm)) {
  .fd-dialog-paper {
    width: 50% !important;
  }
}

//Above lg
@media screen and (min-width: map-get($breakpoints, lg)) {
  .fd-dialog-root {
    display: none !important;
  }
}