@import '../variables';

.tag-chip-holder {
  display: flex;
  flex-wrap: wrap;
}

.tag-chip {
  height: 24px !important;
  margin: 2px;
}

@media screen and (max-width: map-get($breakpoints, lg) - 1px) {
  .tag-chip-holder {
    justify-content: center;
  }
}