//TODO: DRY violation w/ color.

.facility-status-text {
  align-items: center;
  border: 1.5px solid;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold !important; 

  &.facility-status-closed {
    color: white;
    background-color:rgb(244, 67, 54) ;
    border-color: rgb(244, 67, 54);
  }

  &.facility-status-open {
    color: rgb(76, 175, 80);
    border-color: rgb(76, 175, 80);
  }
}