@import '../_variables.scss';

.favorite-button-heart {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px !important;
  width: 24px !important;
  padding: 5px !important;
  cursor: pointer;
}

.favorite-button-heart-favorited {
  color: #E91E63; //TODO: Somehow use materials color system
}

.favorite-button-heart-hover {
  color: grey;
}

.favorite-button-heart-no-hover {
  color: rgba(0, 0, 0, 0);
}

//Between lg and xl
//@media screen and (min-width: map-get($breakpoints, lg)) and (max-width: map-get($breakpoints, xl)) {
@media screen and (min-width: 1024px) and (max-width: 1680px) {
  .favorite-button-heart {
    height: 24px * $favorite-button-lg-scale !important;
    width: 24px * $favorite-button-lg-scale !important;
    padding: 5px * $favorite-button-lg-scale !important;
  }
}

//Under lg
//@media screen and (max-width: map-get($breakpoints, lg)) {
@media screen and (max-width: 1024px) {
  .favorite-button-heart {
    height: 24px * $favorite-button-sm-scale !important;
    width: 24px * $favorite-button-sm-scale !important;
    padding: 5px * $favorite-button-sm-scale !important;
  }
}