@import '../_variables.scss';
@import '../_mixins.scss';

.sidebar-label-row {
  display: flex;
}

.sidebar-label-holder {
  margin-left: 16px;
  margin-right: 16px;
}
.sidebar-label-holder>*{
    margin-bottom:16px;
}

.sidebar-open {
  flex: 1 0 400px;
}

.sidebar-closed {
  flex: 1 0 0;
}

.sidebar-root {
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  position: relative;

  @include transition(150ms ease-in-out);
}

.sidebar-divider {
  margin: 16px !important;
}

.sidebar-row1 {
  display: flex;
  padding: 8px;
}

.sidebar-avatar {
  width: 100px !important;
  height: 100px !important;
}

.sidebar-title {
  height: 100px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.sidebar-row2 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebar-toggle-map-btn {
  width: 100%;
}

.chip-holder {
    display: flex;
    height:32px;
}
@media screen and (max-width: map-get($breakpoints, lg) - 1px) {
  .sidebar-root {
    display: none !important;
  }
}