@import '../_variables.scss';
@import '../_mixins.scss';

.sidebar-label-row {
  display: flex;
}

.sidebar-label-holder {
  margin-left: 16px;
  margin-right: 16px;
}
.sidebar-label-holder>*{
    margin-bottom:16px;
}

.sidebar-open {
//   flex: 1 0 400px;
 transform: translateX(0px);
}

.sidebar-closed {
//   flex: 1 0 0;
 transform: translateX(400px);
}

.sidebar-root {
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  position: absolute;
  right:0;
  height:calc(100% - 64px);
  width:400px;

  @include transition(300ms cubic-bezier(0.820, 0.165, 0.340, 0.930));
}
.card-container-offset-open{
    flex: 1 0 400px;

}
.card-container-offset-closed{
    flex: 1 0 0px;

}
.card-container-offset{
    // flex: 1 0 400px;
}

.sidebar-divider {
  margin: 16px !important;
}

.sidebar-row1 {
  display: flex;
  padding: 8px;
}

.sidebar-avatar {
  width: 100px !important;
  height: 100px !important;
}

.sidebar-title {
  height: 100px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.sidebar-row2 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebar-toggle-map-btn {
  width: 100%;
}
.sidebar-scroll{
    height:calc(100% - 220px - 116px - 32px);
    overflow-y: auto;
}

@media screen and (max-width: map-get($breakpoints, lg) - 1px) {
  .sidebar-root {
    display: none !important;
  }
}