.text-w-title-label {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0,0,0,.54);
};

.text-w-title-content {
  font-weight: 400;
  font-size: 14px;
  text-overflow: ellipsis;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
}