.text-w-title-label {
  font-family: "Roboto-Regular","-apple-system", "Helvetica", "Arial", sans-serif;;
  font-size: 12px;
  color: rgba(0, 0, 0, .54);
}

.text-w-title-content {
  font-family: "Roboto-Medium", "-apple-system", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #354052;
}