.week-hours-row{
    display: flex;
    font-size: 14px; 
    color:#354052;
}
.week-hours-day{
    font-family: Roboto-Regular,Helvetica-Neue;
    margin-right: 16px;
    // width:28px;
}
.week-hours-times{
    font-family: Roboto-Medium;
    margin-bottom: 4px;
}