@import '../_variables.scss';
@import '../_mixins.scss';

.fc-root {
  width: 250px;
  border-radius: 5px !important;
  position: relative;
}

.fc-card-content {
  padding: 8px 4px !important;
}

.fc-small-grid-container-spacing {
  margin: -2px -8px !important;
}

.fc-small-grid-item-spacing {
  padding: 3px 8px !important;
}

.fc-ellipsis-container {
  width: 100%;
}

.fc-media {
  flex: 1;
  height: 115px;
  border-radius: 5px 5px 0 0 !important;
}

.fc-logo-container {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: -60px;
  border-radius: 90px;
  border: 5px solid white;
}

.fc-logo {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.fc-title {
  font-weight: bold !important;
  margin-right: 6px!important;
}


.fc-extra-info {
  display: flex;
  align-items: center;
  max-width: 50%;
}

.fc-extra-info-wrapper {
  padding-top: 8px;
}

.fc-one-line-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fc-two-line-ellipsis {
  position: relative;
  line-height: 1em;
  max-height: 2em;
  overflow: hidden;
}

@supports (-webkit-line-clamp: 2) {
  .fc-two-line-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    /* autoprefixer: off */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }
}

//Above lg
@media screen and (min-width: map-get($breakpoints, lg)) {
  .fc-root {
    @include transition(150ms ease-in-out);

    &.fc-selected {
      transform: scale(.9);
    }
  }
}

/**
//Between lg and xl
@media screen and (min-width: map-get($breakpoints, lg)) and (max-width: map-get($breakpoints, xl)) {
  .fc-root {
    width: 250px * $fc-lg-scale;
    height: 250px;
  }

  .fc-small-grid-item-spacing {
    padding: 0 8px !important;
  }

  .fc-media {
    height: 115px * $fc-lg-scale;
  }

  .fc-logo-container {
    width: 100px * $fc-lg-scale;
    height: 100px * $fc-lg-scale;
    margin-top: -60px * $fc-lg-scale;
    border-radius: 50%;
    border: 5px * $fc-lg-scale solid white;
  }

  .fc-logo {
    width: 100px * $fc-lg-scale;
    height: 100px * $fc-lg-scale;
  }

  .fc-extra-info {
    font-size: 11px;
  }

  .fc-card-map-marker-icon {
    height: 20px !important;
    width: 20px !important;
  }
}
**/

//@media screen and (max-width: map-get($breakpoints, lg) - 1px) {
  .fc-root {
    width: 270px !important;
    display: flex !important;
    align-items: center !important;
  }

  .fc-card-content {
    flex: 1;
    min-width: 0;
  }

  .fc-media {
    display: none !important;
  }

  .fc-title-container {
    width: 90%;
  }

  .fc-extra-info {
    max-width: 100% !important;
    width: 100% !important;
    padding: 2px 0 !important;
    justify-content: center;
    font-size: 11px;
  }

  .fc-small-grid-item-spacing {
    padding: 0 8px !important;
  }

  .fc-logo-container {
    width: 100px * $fc-sm-scale;
    height: 100px * $fc-sm-scale;
    margin: 0 !important;
    padding-left: 5px;
    border-radius: 50%;
    border: 5px * $fc-sm-scale solid white;
  }

  .fc-logo {
    width: 100px * $fc-sm-scale;
    height: 100px * $fc-sm-scale;
  }

  .fc-card-map-marker-icon {
    height: 20px !important;
    width: 20px !important;
  }
//}