$breakpoints: (
        xs: 360px,
        sm: 600px,
        md: 900px,
        lg: 1024px,
        xl: 1680px,
);

/* FacilityCard */

$fc-lg-scale: .8;
$fc-sm-scale: .75;

/* Favorite Button */

$favorite-button-lg-scale: .8;
$favorite-button-sm-scale: .75;