@import "../../color-palette"; 
@import "../../text-styles"; 

.nav-bar-background{
	position: relative;
	width: 100%;
	height:55%;
	top:0px;
	left:0px;
	background:#efefef;
	overflow:hidden;
}

.phone-background{
	position:absolute;
	width:1080px;
	height:1080px;
	background-color:#006633;
	top:-248px;
	left: 700px;
	border-radius:100%;
	// opacity:0;
}

.white-gradient{
	z-index:5;
	position:absolute;
	width: 43%;
	height:100%;
	top:0px;
	right:0px;
 background: #006633;
background-image: radial-gradient(48% 50%, rgba(255,255,255,0.54) 51%, rgba(255,255,255,0.00) 100%);
background-image: radial-gradient(52% 50%, rgba(255,255,255,0.20) 47%, rgba(255,255,255,0.00) 100%);
}



