@import "../../global-styles";
@import "phone-mock";
@import "expanded-nav";
@import "collapsed-nav";



.close-nav-bar-button {
	width: 30px;
	height: 30px;
	background-color: white;
	margin: 5px auto 0px auto;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 0px $shadow-color;
	z-index:1000000;
}

.close-nav-bar-button-container {
	position: absolute;
	left: 50%;
	bottom: 0px;
	width: 40px;
	height: 20px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background-color: $background-color;
	margin-left: -20px;
	box-shadow: inset 0px 0px 20px 0px $shadow-color;
	z-index: 10001;
}
