<!--<img src="../../assets/BKing.jpg" class="place-picture">
    <div class="place-info-block">
        <i class="fa fa-star-o star-icon" aria-hidden="true"></i>
        <div class="place-title">{{place.name}}</div>
        
        <div [ngClass]="(place.status === 'open')?'status-open' : 'status-closed'">
            <div [ngClass]="(place.status==='open' )? 'text-open' : 'text-closed' ">{{status}}</div>
            <hr class="hr-vertical">
            <div class="status-text">~13Hrs</div>
        </div>
        <div class="place-location">{{place.location}}</div>
    </div>-->
<div (click)="openInContext()" class="place-card">
   
    <img [src]="url" class="place-picture">
    <div class="title-container">
        <div class="place-title">{{place.name | removeBrackets}}</div>
    </div>
    <div *ngIf="isOpen; else showClosed">
        <div class="place-open-badge">
            <div class="place-status">OPEN</div>
            <div class="place-divider"></div>
            <div class="place-time-remaining">~{{showTime(openFor)}}</div>
        </div>
    </div>
    <ng-template #showClosed>
         <div class="closed-shader"></div>
        <div class="place-open-badge" style="width:75px;background-color:#C4B9B9;">
            <div class="place-status-closed">CLOSED</div>
            <!--<div class="place-divider"></div>-->
            <!--<div class="place-time-remaining">~{{showTime(openFor)}}</div>-->
        </div>
    </ng-template>

    <div class="place-location">{{place.location }}</div>
    <div class="place-error-feedback">See an error?</div>
</div>
