@import '../../../../global-styles';
.place-card {
	width: 210px;
	height: 240px;
	background-color: white;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
	box-shadow: 12px 15px 20px rgba(46, 61, 73, .15);
	margin: 20px 15px 20px 15px;
}

.place-picture {
	width: 210px;
	height: 118px;
	// background-color: grey;
	// image-rendering: crisp-edges;
}

.place-title {
	font-family: Nunito-Medium;
	font-size: 25px;
	color: #354052;
	margin: 18px auto 0px auto;
}

.place-open-badge {
	width: 88px;
	height: 20px;
	margin: 3px auto 0px auto;
	background-color: #3ac550;
	border-radius: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.place-status {
	font-family: NunitoSans-SemiBold;
	font-size: 11px;
	color: #FFFFFF;
	margin: 0px 0px 0px 3px;
}

.place-divider {
	width: 2px;
	height: 100%;
	background-color: white;
	opacity: .75;
	margin: 0px 4px 0px 4px;
}

.place-time-remaining {
	/* Time: */
	font-family: NunitoSans-Regular;
	font-size: 11px;
	color: #FFFFFF;
}

.place-location {
	/* Location: */
	font-family: NunitoSans-Regular;
	font-size: 11px;
	color: #7F8FA4;
	letter-spacing: -0.28px;
	line-height: 13px;
	margin: 9px auto 0px auto;
}

.place-error-feedback {
	/* error: */
	font-family: NunitoSans-Regular;
	font-size: 9px;
	color: #7F8FA4;
	letter-spacing: -0.22px;
	line-height: 13px;
	margin: 18px 4px 0px auto;
}
